@charset "UTF-8";
/*
GAME
Game class.

Author: Pablo Pizarro R. @ppizarror.com
License MIT
*/

/**
-------------------------------------------------------------------------------
Base ui container
-------------------------------------------------------------------------------
 */
#game-ui {
	display: flex;
	height: 100%;
	min-height: 480px;
	min-width: 640px;
	position: absolute;
	width: 100%;
}

/**
-------------------------------------------------------------------------------
Left column, contains buttons
-------------------------------------------------------------------------------
 */
.game-ui-left-column {
	background-color: #0b2e13;
	width: 33.333%;
}

/**
-------------------------------------------------------------------------------
Middle column, contains timer
-------------------------------------------------------------------------------
 */
.game-ui-middle-column {
	background-color: #f12e33;
	width: 33.333%;
}

/**
Counter
 */
#game-time-counter {
	color: #ffffff;
	font-size: 2.5rem;
	font-weight: 300;
	text-align: center;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	width: 100%;
}

@media screen and (max-width: 800px) {
	#game-time-counter {
		font-size: 2rem;
	}
}

/**
-------------------------------------------------------------------------------
Right column, contains game information
-------------------------------------------------------------------------------
 */
.game-ui-right-column {
	background-color: #0b2ef3;
	width: 33.333%;
}