@charset "UTF-8";
/*
GAME
Game class.

Author: Pablo Pizarro R. @ppizarror.com
License MIT
*/

/**
-------------------------------------------------------------------------------
Base ui container
-------------------------------------------------------------------------------
 */
#game-ui {
	display: flex;
	height: 100%;
	min-height: 480px;
	min-width: 640px;
	position: absolute;
	width: 100%;
}

/**
-------------------------------------------------------------------------------
Left column, contains buttons
-------------------------------------------------------------------------------
 */
.game-ui-left-column {
	width: 33.333%;
}

#game-ui-button-menu {
	float: left;
	left: 0;
	margin-left: 1%;
	margin-top: 1%;
}

#game-ui-button-reset {
	bottom: 0;
	margin-bottom: 1%;
	margin-left: 1%;
}

.game-ui-button {
	display: flex;
	font-size: 1.2rem;
	opacity: 0.8;
	position: absolute;
}

.game-ui-button .fas {
	line-height: inherit !important;
	padding-right: 10px;
}

.game-ui-button:hover {
	opacity: 1.0;
}

@media screen and (max-width: 800px) {
	.game-ui-button {
		font-size: 1rem;
	}
}

/**
-------------------------------------------------------------------------------
Middle column, contains timer
-------------------------------------------------------------------------------
 */
.game-ui-middle-column {
	width: 33.333%;
}

/**
Counter
 */
#game-time-counter {
	color: #ffffff;
	cursor: default;
	font-size: 3rem;
	font-weight: 400;
	text-align: center;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	width: 100%;
}

@media screen and (max-width: 800px) {
	#game-time-counter {
		font-size: 2.5rem;
		margin-top: -1.5%;
	}
}

/**
-------------------------------------------------------------------------------
Right column, contains game information
-------------------------------------------------------------------------------
 */
.game-ui-right-column {
	padding-top: 1.15%;
	width: 33.333%;
}

@media screen and (max-width: 800px) {
	.game-ui-right-column {
		padding-top: 1%;
	}
}

/**
Tile info
 */
.game-ui-tilesinfo {
	color: #ffffff;
	display: inline-block;
	float: left;
	font-size: 2rem;
	font-weight: 400;
	margin: 0 1% 1% 0;
	padding-bottom: 1.5%;
	padding-right: 5%;
	text-align: right;
	text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 800px) {
	.game-ui-tilesinfo {
		font-size: 1.5rem;
	}
}

.game-ui-tilesinfo img {
	display: inline-block;
	margin-right: 5%;
	margin-top: -2%;
	min-width: 27px;
	width: 10%;
}

.game-ui-tilesinfo.tile-shadow img {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}