@charset "UTF-8";
/*
VIEWER
Viewer style.

Author: Pablo Pizarro R. @ppizarror.com
License MIT
*/

#viewer {
	display: none;
}

#viewer-gui {
	right: 0;
	position: absolute;
	top: 0;
	z-index: 10;
}

/**
-------------------------------------------------------------------------------
Tooltip
-------------------------------------------------------------------------------
 */
.viewer-tooltip {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #464646;
	border-radius: 4px;
	border: 1px solid #676767;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
	color: #ffffff;
	display: none;
	font-size: 0.85rem;
	font-weight: 400;
	padding: 4px;
	position: absolute;
}

@media screen and (max-width: 576px) {
	.viewer-tooltip {
		font-size: 0.75rem;
		font-weight: 300;
	}
}

/**
-------------------------------------------------------------------------------
Tooltip right
-------------------------------------------------------------------------------
 */
.viewer-tooltip.tooltip-right {
	text-align: left;
}

.viewer-tooltip.tooltip-right:after {
	border-color: transparent #464646;
	border-style: solid;
	border-width: 5px 6px 6px 0;
	content: "";
	display: block;
	left: -6px;
	margin-top: 7px;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 1;
}

.viewer-tooltip.tooltip-right:before {
	border-color: transparent #646464;
	border-style: solid;
	border-width: 7px 7px 8px 0;
	content: "";
	display: block;
	left: -7px;
	margin-top: 1px;
	position: absolute;
	width: 0;
	z-index: 1;
}

/**
-------------------------------------------------------------------------------
Tooltip left
-------------------------------------------------------------------------------
 */
.viewer-tooltip.tooltip-left {
	text-align: right;
}

.viewer-tooltip.tooltip-left:after {
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 6px 0 6px 6px;
	border-color: transparent #464646;
	display: block;
	width: 0;
	z-index: 1;
	right: -6px;
	margin-top: -6px;
	top: 50%;
}

.viewer-tooltip.tooltip-left:before {
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 7px 0 7px 7px;
	border-color: transparent #646464;
	display: block;
	width: 0;
	z-index: 1;
	right: -7px;
	margin-top: -7px;
	top: 50%;
}