@charset "UTF-8";
/*
VIEWER
Viewer style.

Author: Pablo Pizarro R. @ppizarror.com
License MIT
*/

#viewer {
	background-image: linear-gradient(0deg, #4b3f28 0%, #464436 10%, #3f4c4b 25%, #33586e 50%, #28628b 75%, #1e6eac 100%);
	bottom: 0;
	display: block;
	float: right;
	height: 100%;
	min-width: 640px;
	outline: none;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
}

#viewer-gui {
	right: 0;
	position: absolute;
	top: 0;
	z-index: 10;
}