name: CI

concurrency:
  cancel-in-progress: true
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    uses: ppizarror/workflow-actions/.github/workflows/test_js.yml@master

  codeql:
    needs: test
    uses: ppizarror/workflow-actions/.github/workflows/codeql.yml@master
    with:
      autobuild: none
      language: javascript

  eslint:
    needs: test
    uses: ppizarror/workflow-actions/.github/workflows/eslint.yml@master